## npm packages

node_modules

## environment settings

environments/build.dev.js
environments/build.dev.d.ts
weather-app/environments/build.dev.ts

## gists and self-pratical examples

playground/

## definitely types


entities/*
app.d.ts
command-line.tools.d.ts