## npm packages
node_modules

## environment settings
environments/*
weather-app/environments/build.dev.ts

## gists and self-pratical examples
playground/

## definitely types
entities/*
app.js
app.d.ts
command-line.tools.d.ts
command-line.tools.js

