## npm packages
node_modules

## environment settings
weather-app/environments/build.dev.ts

## gists and self-pratical examples
playground/

## definitely types
models/*
test/*
environments/*
geocode/*
weather/*
app.js
app.d.ts
logger.d.ts
logger.js
command-line.tools.d.ts
command-line.tools.js

